<h1>Recipes</h1>

<a href="/recipes"> <button> Go to recipes</button></a>

<p> A site where you can manage all your favorite recipes! </p>

 <img src="https://media.giphy.com/media/eSQKNSmg07dHq/giphy.gif">