<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe</title>
    <link rel="stylesheet" type = "text/css" href="/css/style.css">
</head>
<body>
      <Img src="https://media.giphy.com/media/eSQKNSmg07dHq/giphy.gif">
      <h1 class="laura"> Hello </h1>
    {{{ body }}}
</body>
</html>