h1 {
    font: 800;
    color: rgb(38, 38, 140);
}

h2 {
    font: 800;
    color: rgb(38, 38, 140);
}

.laura {
    color: pink;
}

p {
    color: rgb(124, 116, 162);
}

button {
    color: darkblue;
    font-size: 20px;
    padding: 10px;
    margin: 1%;
}

