<h1> Favorite Recipes </h1>

<ul>
   {{#each recipes}}
   <li>
       <a href="/recipes/{{this.id}}">{{this.title}}</a>
   </li>
   {{/each}}
</ul>

<a href="/recipes/new/">Add new recipe</a>

<br>
<img src="https://media.giphy.com/media/demgpwJ6rs2DS/giphy.gif">
<img src="https://media.giphy.com/media/b5Hcaz7EPz26I/giphy.gif">